venv/
cloud_vision.json
vertex_ai.json
# ------------------------
# Environment variables
# ------------------------
.env
.env.*
*.env

# ------------------------
# Python virtual env
# ------------------------
venv/
env/
.venv/
*/venv/
*/env/
*/.venv/

# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------
# App folders (custom)
# ------------------------
app/
*/app/

# ------------------------
# OS / Editor
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ------------------------
# Logs / temp
# ------------------------
*.log
